body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom , #006868, MediumAquaMarine, LightYellow);
}

.bodyDiv{
    margin: auto;
    width: fit-content;
    background-color: rgba(93, 192, 192, 0.3);
    padding: 20px 20px;
    border-radius: 5px;
}

#homePageBody{
    background-image: url('../image/backgr2.jpg');
    background-attachment: fixed;
    background-size: cover;

}
#loginDiv, #registerDiv{
    padding: 50px 50px; 
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(0, 128, 128, 1);
}


.error{
    color: red;
    text-align: center;
    background-color: rgba(150, 255, 255, 0.75);
    width: max-content;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
}
.info{
    color: blue;
    text-align: center;
    background-color: rgba(150, 255, 255, 0.75);
    width: max-content;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
}
.notAccepted{
    opacity: 0.4;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 20px black;
}

#welcometext{
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}
.optionUser{
    font-size: 14px;
}

table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    background-color: rgba(150, 230, 230, 0.75);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
    margin: auto;
    max-width: 1800px;
}
    
tr:hover, tr:nth-child(even):hover {
    background-color: rgba(72, 196, 196, 0.5);
}

tr:nth-child(even) {
    background-color: rgba(200, 255, 255,0.75);
}

th,td {
    text-align: center;
    padding: 8px;
}

.breakWord{
    word-break: break-word;
}

.breakWordHome{
    max-width: 400px;
    word-break: break-word;
}
tr:last-of-type{
    border-bottom: 3px solid teal;
}

th{
    background-color: teal;
    color: white;
    padding: 20px 4px;
}

.button, input.button{
    background-color: rgb(0, 104, 104);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 1px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buttonplusminus{
    margin: 1px 3px;
}
.delete{
    background-color: rgb(255,0, 0);
}

.disabled{
    display: none;
}
button:not(.dropbtn):hover, input.button:hover, .anavbar:hover {
    background-color: #333;
    color: rgb(0, 255, 255);
}

button:not(.dropbtn):hover + img.icon{
    display: none;
}

.under{
    display: flex;
}

#profileButton{
    padding: 7px 0px;
}

.fileInput{
    display:  none;
}

.smallAvatar {
    width: 30px;
    height: 30px;
}

.formcreate{
    margin: auto;
    padding-top: 50px;
    width: 380px;
}


.divAll, .div{
    align-content: center;
    text-align: center;
    color: #a9a9a9;
}
.div{
    padding: 10px;
    top: 10px;
    margin: auto;
    border-bottom: 2px solid black;
    width:180px;
    position: relative;
    display: flex;
}
.withoutborder{
    border-bottom: none;
    padding: 0px; 
    top: 0px;
}

.viewDetails{
    display: flex;
    margin: auto;
    width: min-content;
}

.centerdiv{
    width: min-content;
    margin: auto;
}

input{
    font-size: 14px;
}
.input{
    background: none;
    position: absolute; 
    outline: none;
    width: 100%;
    font-size: 16px;
    border: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input[type=checkbox]{
    height: 16px;
    width: 16px;
}

.label2, #formGame label{
    font-weight: 700;
}

.input:focus + .label,.input:valid + .label, .input:not([value=""]):not(:focus)+ .label{
    position: relative;
    font-size: 10px;
    top: -15px;
    color: black;
}

::placeholder { 
    color: #3b3b3b;
    opacity: 1;
}
.searchdiv{
    margin: auto;
    width: fit-content;
    background-color: rgba(93, 192, 192, 0.6);
    padding: 20px 20px;
    border-radius: 5px;
}

#userList.searchdiv, #adminGames.searchdiv{
    width: 400px;
}
#adminUserList.searchdiv{
    width: 800px;
}
.inputForm, #advancedSearch input, #search, #searchGames{
    border: none;
    border-bottom: 1px solid rgb(77, 77, 77);
    background: none;
    margin-right: 30px;
    margin-left: 10px;
    
}
#advancedSearch {
    display: inline-flex;
    margin-left: 50px;
}

#advancedSearch div{
    display: inline;
}

select{
    max-width: 200px;
}
select#users {
    margin-top: 10px;
}

select#roleS, #roleS option,select#activatedS, #activatedS option {
    border: 1px solid teal;
    background: none;
}
option { 
    background-color: rgba(0, 189, 189, 0.3) !important; 
    padding: 5px;
}

option:checked {
    background-color: rgba(0, 128, 128, 0.85) !important; 

}

#saveDescription{
    display: none;
}

#questionforgotpassword {
    color: black;
    font-size: 11px;
    text-align: right;
    margin-top: 5px;
}

.imgUsername{
    text-align: left;
    display: flex;
    padding: 2px;
    align-items: center;
}

.imgUsername label{
    padding: 5px;
}

.imgUsernameCenter{
    display: inline-flex;
    text-align: center;
    padding: 2px;
    align-items: center;
}
.imgUsernameCenter label{
    padding: 5px;
}
.profileUserImg{
    width: 350px;
    text-align: center;
    border: 1px solid grey;
}
.profileUserImg img, .gameimg img, .gameImage{
    width: 300px;
    height: auto;
    max-height: 600px;
}

#aboutMeDiv{
    width: 500px;
    text-align: center;
    margin-top: 10px;
    position: absolute;
}

#aboutMe{
    width: 400px;
    min-height: 150px;
    resize: none;
    background: rgba(255,255,255,0.8);
}

.inlineblock{
    display: inline-block;
}
.inlinediv{
    position: absolute;
    display: inline-block;
    
}
#eventInvitationTitle, #eventNoInvitationTitle{
    margin: auto;
    text-align: center;
    text-shadow: 0px 0px 10px white;
    background-color: rgba(255, 255, 255, 0.4);
    width: fit-content;
    border-radius: 20px;
    padding: 0px 5px;
}


.invitations{
    display: table;
}

.invitation{
    padding: 20px;
    float: left;
    max-width: 800px;
    text-align: center;
    margin: 15px;
    background: rgba(0, 128, 128, 0.5);
    border-radius: 30px;
}

.dframe{
    width: 500px;
    margin: 30px auto;
    border: 2px solid teal;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 360px;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

div #messages {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 1px 1x #000000;
    height: 350px;
    overflow-y: scroll;
    word-wrap: break-word;
}

#chatMessage {
    background: whitesmoke;
    width: 86%;
    border: 3px solid white;
    margin-top: 4px;
    border-radius: 10px;
    height: 50px;
    resize: none;
}

.msgs{
    width: 100%;
    display: block;
    clear: both;
}

.msg {
    background-color: rgba(150, 230, 230, 0.75);
    padding: 5px 10px;
    box-shadow: 3px 3px 5px;
    border-radius: 5px;
    margin-bottom: 4px;
    margin-left: 10px;
    max-width: 70%;
    text-align: left;
    float: left;
}

.mymsg {
    background-color: rgba(72, 196, 196, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 3px 3px 5px;
    margin-bottom: 4px;
    max-width: 70%;
    text-align: right;
    float: right;
}

.msg #username, .mymsg #username{
    font-weight:  bold;
    font-size: 12px;
}
.msg #time, .msg #date, .mymsg #time, .mymsg #date{
    font-weight:  normal;
    font-size: 8px;
}
.msg #textmessage, .mymsg #textmessage{
    font-weight:  normal;
    font-size: 12px;
}

.eventChat {
    background: rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 5px 0px;
}
#messageform {
    border-top: none;
    margin: 0px auto;
}

#messageSend{
    position: absolute;
    margin-top: 14px;
    margin-left: 6px;
}

#gameDescriptionText{
    min-height: 200px;
    min-width: 400px;
}

#otherUsers{
    height: 200px;
    width: 250px;
    overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar-track, body::-webkit-scrollbar-track{
	background-color: rgba(245, 245, 245, 0.5);
}

.scrollbar::-webkit-scrollbar, body::-webkit-scrollbar{
	width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	background-color: gray;
}